docker/nodered/flows.json
[
    {
        "id": "flow_main",
        "type": "tab",
        "label": "Conveyor Belt Monitoring",
        "disabled": false,
        "info": "CO326 - Conveyor Belt Fault Detection\nMQTT → InfluxDB pipeline with RUL estimation and dashboard controls"
    },
    {
        "id": "mqtt_in_data",
        "type": "mqtt in",
        "z": "flow_main",
        "name": "Belt Sensor Data",
        "topic": "spBv1.0/conveyorLine/DDATA/belt01/beltDrive",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 160,
        "wires": [["json_parse", "debug_raw", "fault_check", "rul_estimator"]]
    },
    {
        "id": "json_parse",
        "type": "json",
        "z": "flow_main",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 380,
        "y": 120,
        "wires": [["influx_write", "dashboard_gauge"]]
    },
    {
        "id": "influx_write",
        "type": "function",
        "z": "flow_main",
        "name": "Format for InfluxDB",
        "func": "// Format payload for InfluxDB HTTP API (line protocol)\n// IMPORTANT: Use .toFixed() on all float fields.\n// When anomaly_score=0 exactly, ArduinoJson emits integer 0 in JSON.\n// Without toFixed(), line protocol gets 'anomaly_score=0' (integer type)\n// which conflicts with the existing float field type => 400 Bad Request.\nvar d = msg.payload;\nvar line = 'conveyor_belt'\n  + ' x=' + Number(d.x).toFixed(4)\n  + ',y=' + Number(d.y).toFixed(4)\n  + ',z=' + Number(d.z).toFixed(4)\n  + ',magnitude=' + Number(d.magnitude).toFixed(4)\n  + ',temperature=' + Number(d.temperature || 0).toFixed(2)\n  + ',anomaly_score=' + Number(d.anomaly_score).toFixed(4)\n  + ',fault_flag=' + d.fault_flag + 'i'\n  + ',relay_state=' + d.relay_state + 'i'\n  + ',consecutive_faults=' + (d.consecutive_faults || 0) + 'i'\n  + ',fault_type=\"' + d.fault_type + '\"'\n  + ',mode=\"' + (d.mode || 'unknown') + '\"';\nmsg.payload = line;\nreturn msg;",
        "outputs": 1,
        "x": 610,
        "y": 80,
        "wires": [["http_influx"]]
    },
    {
        "id": "http_influx",
        "type": "http request",
        "z": "flow_main",
        "name": "Write to InfluxDB",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://influxdb:8086/api/v2/write?org=co326&bucket=conveyor_data&precision=ms",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            { "keyType": "other", "keyValue": "Authorization", "valueType": "other", "valueValue": "Token co326-conveyor-token" },
            { "keyType": "Content-Type", "keyValue": "Content-Type", "valueType": "other", "valueValue": "text/plain" }
        ],
        "x": 850,
        "y": 80,
        "wires": [["debug_influx_response"]]
    },
    {
        "id": "debug_raw",
        "type": "debug",
        "z": "flow_main",
        "name": "Raw Sensor Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.fault_type",
        "statusType": "msg",
        "x": 390,
        "y": 240,
        "wires": []
    },
    {
        "id": "debug_influx_response",
        "type": "debug",
        "z": "flow_main",
        "name": "InfluxDB Response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1070,
        "y": 80,
        "wires": []
    },
    {
        "id": "fault_check",
        "type": "function",
        "z": "flow_main",
        "name": "Fault Alert Logic",
        "func": "var d = msg.payload;\nif (typeof d === 'string') d = JSON.parse(d);\nif (d.fault_flag === 1) {\n    msg.payload = '⚠ FAULT: ' + d.fault_type\n      + ' | Score: ' + d.anomaly_score\n      + ' | Consecutive: ' + (d.consecutive_faults || '?');\n    return msg;\n}\nreturn null; // Only pass faults",
        "outputs": 1,
        "x": 390,
        "y": 320,
        "wires": [["debug_faults"]]
    },
    {
        "id": "debug_faults",
        "type": "debug",
        "z": "flow_main",
        "name": "⚠ Fault Alerts",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 610,
        "y": 320,
        "wires": []
    },
    {
        "id": "dashboard_gauge",
        "type": "function",
        "z": "flow_main",
        "name": "Extract Score",
        "func": "msg.payload = msg.payload.anomaly_score;\nreturn msg;",
        "outputs": 1,
        "x": 610,
        "y": 160,
        "wires": [["debug_score"]]
    },
    {
        "id": "debug_score",
        "type": "debug",
        "z": "flow_main",
        "name": "Anomaly Score",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 830,
        "y": 160,
        "wires": []
    },
    {
        "id": "rul_estimator",
        "type": "function",
        "z": "flow_main",
        "name": "RUL Estimator (OLS)",
        "func": "// ── RUL Estimation using Ordinary Least Squares (OLS) ──\n// Rolling window of last 60 anomaly_score values (30s at 2Hz)\n// Computes slope via linear regression, then estimates\n// minutes until anomaly_score reaches 1.0\n\nvar WINDOW = 60;\nvar d = msg.payload;\nif (typeof d === 'string') d = JSON.parse(d);\n\n// Retrieve or initialise rolling buffer\nvar scores = flow.get('rul_scores') || [];\nscores.push(d.anomaly_score);\nif (scores.length > WINDOW) scores.shift();\nflow.set('rul_scores', scores);\n\nvar n = scores.length;\nif (n < 5) return null; // Need at least 5 samples\n\n// OLS linear regression: y = a + b*x\nvar sumX = 0, sumY = 0, sumXY = 0, sumX2 = 0;\nfor (var i = 0; i < n; i++) {\n    sumX  += i;\n    sumY  += scores[i];\n    sumXY += i * scores[i];\n    sumX2 += i * i;\n}\n\nvar slope = (n * sumXY - sumX * sumY) / (n * sumX2 - sumX * sumX);\nvar current_score = scores[n - 1];\n\n// RUL = time until score reaches 1.0\n// Each sample is 0.5 seconds apart (2 Hz)\n// slope is per-sample, so convert to per-minute\n// RUL is only meaningful when the system is actively degrading (positive slope).\n// A zero or negative slope means the system is stable or improving — no countdown.\nvar rul_minutes;\nvar stable = false;\nif (slope <= 0) {\n    rul_minutes = 999; // Stable / improving — display max, not a fake countdown\n    stable = true;\n} else {\n    var samples_to_failure = (1.0 - current_score) / slope;\n    rul_minutes = (samples_to_failure * 0.5) / 60.0;\n    if (rul_minutes < 0) rul_minutes = 0;\n    if (rul_minutes > 999) rul_minutes = 999;\n}\n\n// Format for InfluxDB line protocol\nvar line = 'rul_estimate'\n  + ' rul_minutes=' + rul_minutes.toFixed(2)\n  + ',slope=' + slope.toFixed(6)\n  + ',current_score=' + current_score\n  + ',stable=' + (stable ? 'true' : 'false');\n\nmsg.payload = line;\nmsg.rul_minutes = rul_minutes;\nmsg.slope = slope;\nmsg.stable = stable;\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 420,
        "wires": [["http_rul_write", "debug_rul"]]
    },
    {
        "id": "http_rul_write",
        "type": "http request",
        "z": "flow_main",
        "name": "Write RUL to InfluxDB",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://influxdb:8086/api/v2/write?org=co326&bucket=conveyor_data&precision=ms",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            { "keyType": "other", "keyValue": "Authorization", "valueType": "other", "valueValue": "Token co326-conveyor-token" },
            { "keyType": "Content-Type", "keyValue": "Content-Type", "valueType": "other", "valueValue": "text/plain" }
        ],
        "x": 670,
        "y": 400,
        "wires": [[]]
    },
    {
        "id": "debug_rul",
        "type": "debug",
        "z": "flow_main",
        "name": "RUL Minutes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "rul_minutes",
        "targetType": "msg",
        "statusVal": "rul_minutes",
        "statusType": "msg",
        "x": 640,
        "y": 460,
        "wires": []
    },
    {
        "id": "comment_pipeline",
        "type": "comment",
        "z": "flow_main",
        "name": "📊 CO326 Conveyor Belt — Data Pipeline & RUL Estimator",
        "info": "This flow:\n1. Subscribes to ESP32 sensor data via MQTT\n2. Parses JSON and writes to InfluxDB\n3. Computes RUL using OLS linear regression\n4. Monitors for fault conditions\n5. Provides manual and HTTP relay control",
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "comment_controls",
        "type": "comment",
        "z": "flow_main",
        "name": "🎛 Relay Controls (Manual + HTTP)",
        "info": "Inject nodes for manual control.\nHTTP endpoint /belt-control for Grafana integration.",
        "x": 190,
        "y": 520,
        "wires": []
    },
    {
        "id": "relay_on_inject",
        "type": "inject",
        "z": "flow_main",
        "name": "STOP Belt (Relay ON)",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"relay_command\":\"ON\"}",
        "payloadType": "str",
        "x": 170,
        "y": 570,
        "wires": [["mqtt_out_cmd"]]
    },
    {
        "id": "relay_off_inject",
        "type": "inject",
        "z": "flow_main",
        "name": "RESUME Belt (Relay OFF)",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"relay_command\":\"OFF\"}",
        "payloadType": "str",
        "x": 180,
        "y": 630,
        "wires": [["mqtt_out_cmd"]]
    },
    {
        "id": "http_belt_control",
        "type": "http in",
        "z": "flow_main",
        "name": "Belt Control Endpoint",
        "url": "/belt-control",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 700,
        "wires": [["format_relay_cmd"]]
    },
    {
        "id": "format_relay_cmd",
        "type": "function",
        "z": "flow_main",
        "name": "Format Relay Command",
        "func": "// Accept POST {\"relay_command\": \"ON\"} or {\"relay_command\": \"OFF\"}\nvar cmd = msg.payload.relay_command || 'OFF';\nmsg.payload = JSON.stringify({relay_command: cmd});\nmsg.res_payload = {status: 'ok', relay_command: cmd};\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 700,
        "wires": [["mqtt_out_cmd", "http_belt_response"]]
    },
    {
        "id": "http_belt_response",
        "type": "http response",
        "z": "flow_main",
        "name": "HTTP Response",
        "statusCode": "200",
        "headers": {},
        "x": 660,
        "y": 740,
        "wires": []
    },
    {
        "id": "mqtt_out_cmd",
        "type": "mqtt out",
        "z": "flow_main",
        "name": "Send Relay Command",
        "topic": "spBv1.0/conveyorLine/DCMD/belt01/beltDrive",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 660,
        "y": 630,
        "wires": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Mosquitto Local",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "nodered-client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userDir": "",
        "sessionExpiry": "",
        "credentials": {
            "user": "nodered",
            "password": "password"
        }
    }
]
